* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: rgba(240,240,240,1.0);
}

header {
    font-weight: 100 !important; 
    text-align: center;
    background-size: cover;
    background-image: url(https://source.unsplash.com/1600x900/?,weather,city,sky,nature);
}

h1 {
    font-weight: 100; 
    padding-top: 30px;  
}

.dark-background {
    color: #fff; 
}

#header-background {
    position: relative; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 800px; 
    background-color: rgba(0,0,0,0.5); 
}

#current-location {
    font-size: 0.6rem; 
    padding-top: 20px; 
}

#alert {
    display: none; 
}

#search-input {
    max-width: 500px; 
}

/*Main Heading Weather Data Outputs*/

.main-location {
    font-size: 2.0rem; 
}

.main-temp {
    font-size: 4.0rem; 
}

.main-description {
    font-size: 1.2rem; 
    font-weight: 300;
    margin-top: 20px; 
}

.other-info {
    font-size: 1.0rem; 
}

.uv-index {
    font-weight: 600; 
}

.text-caution {
    color: rgba(255,165,2,1.0); 
}

/*Forecasts*/

#forecasts {
    text-align: center; 
    margin-top: 15px;  
}

.card {
    width: 200px; 
    border-color: rgba(91,192,222,1.0); 
}

.day {
    color: rgba(255,165,2,1.0); 
    font-size: 5.0rem; 
    margin-top: 10px;
    margin-bottom: 10px; 
    animation-name: day_shift;
    animation-duration: 3.5s; 
    animation-iteration-count: infinite;
}

.night {
    color: rgba(100,151,200,1.0); 
    font-size: 5.0rem; 
    margin-top: 10px;
    margin-bottom: 10px; 
    animation-name: night_shift;
    animation-duration: 3.5s; 
    animation-iteration-count: infinite;
}

/*Media Queries*/

@media screen and (max-width: 358px) {
    h1 {
        padding-top: 10px; 
    }
}

/*Animations*/

@keyframes day_shift {  
    from {color: rgba(255,165,2,1.0)}
    50% {color: rgba(255,210,2,1.0)}
    to {color: rgba(255,165,2,1.0)}
}

@-webkit-keyframes day_shift {  
    from {color: rgba(255,165,2,1.0)}
    50% {color: rgba(255,210,2,1.0)}
    to {color: rgba(255,165,2,1.0)}
}

@-moz-keyframes day_shift {  
    from {color: rgba(255,165,2,1.0)}
    50% {color: rgba(255,210,2,1.0)}
    to {color: rgba(255,165,2,1.0)}
}

@keyframes night_shift {  
    from {color: rgba(100,151,200,1.0)}
    50% {color: rgba(180,180,200,1.0)}
    to {color: rgba(100,151,200,1.0)}
}

@-webkit-keyframes night_shift {  
    from {color: rgba(100,151,200,1.0)}
    50% {color: rgba(180,180,200,1.0)}
    to {color: rgba(100,151,200,1.0)}
}

@-moz-keyframes night_shift {  
    from {color: rgba(100,151,200,1.0)}
    50% {color: rgba(180,180,200,1.0)}
    to {color: rgba(100,151,200,1.0)}
}

    
