* {
    font-family: 'Raleway', sans-serif;
    
}

header {
    font-weight: 100 !important; 
    text-align: center;
    background-size: cover;
    background-image: url(https://source.unsplash.com/1600x900/?,weather,city,sky,nature);
}

h1 {
    font-weight: 100; 
    padding-top: 30px;  
}

.dark-background {
    color: #fff; 
}

#header-background {
    position: relative; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 800px; 
    background-color: rgba(0,0,0,0.5); 
}

#current-location {
    font-size: 0.6rem; 
    padding-top: 20px; 
}

#alert {
    display: none; 
}

/*Main Heading Weather Data Outputs*/

.main-location {
    font-size: 2.0rem; 
}

.main-temp {
    font-size: 4.0rem; 
}

.main-description {
    font-size: 1.2rem; 
    font-weight: 300;
    margin-top: 20px; 
}

.other-info {
    font-size: 1.0rem; 
}

.uv-index {
    font-weight: 600; 
}

.text-caution {
    color: rgba(255,165,2,1.0); 
}

/*Forecasts*/

#forecasts {
    text-align: center; 
}

/*Media Queries*/

@media screen and (max-width: 358px) {
    h1 {
        padding-top: 10px; 
    }
}